.task
{
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    height: 35px;
    margin-top: 10px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkBox{
    display: flex;
    align-items: center;
}
.checkBox:hover{
    cursor: pointer;
}
.icon:hover{
    cursor: pointer;
}
.task span{
    margin-right: 10px;
}
.lineThrough{
    text-decoration: line-through;
}